
.imagelogo {
	width: 30px;
	height: 30px;
	margin-left: 7px;
}
.bande {
    background-color: #16171d;
    width: 100%;
    height: 47px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.textetoinline {
	display: flex;
	gap: 30px;
	margin-right: 8px;
	text-decoration: none;
	color: #fcfaed;
	background-color: #16171D;
}
#playlist {
	text-align: center;
	list-style: none;
	text-decoration: none;
}
#myinput {
	display: block;
	margin: 20px auto; 
	padding: 8px;
	width: 300px;
	text-align: center; 
	border-radius: 3px;
	border: 2px solid #282a35;
	background-color: #fcfaed;
	color: #234d7a;
}
#myinput:focus {
	outline: none;
}

.list {
	line-height: 2;
	text-decoration: none;
	color: #fcfaed;
}
.list:hover {
	color: #234d7a;
}
body {
	margin: 0;
}
html {
	background-color: #282a35;
}
:root {
  font-family: 'Inter', sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
}
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

