html{
	background-color: #16171d;
}
body {
	margin: 0;
}

.listvideo {
	color: #fcfaed;
	margin-left: 6%;
	line-height: 2;
}
.listvideo:link {
	text-decoration: none;
}
.listvideo:hover {
	color: #234d7a;
}
.listplaylist {
	display: block;
	color: #fcfaed;
	margin-left: 16%;
	margin-top: 10%;
	text-decoration: none;
}
.listplaylist:hover {
	color: #234d7a;
}
.textetoinline {
	display: flex;
	gap: 30px;
	margin-right: 8px;
	text-decoration: none;
	color: #fcfaed;
	background-color: #16171D;
}
.imagelogo {
	width: 30px;
	height: 30px;
	margin-left: 7px;
}
.bande {
	background-color: #16171d;
	width: 100%;
	height: 47px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.colonne {
	height: 92vh;
	background-color: #282a35;
	margin-top: 1px;
	margin-bottom: 0;
	box-sizing: border-box;
}
.row {
	display: flex;
	align-items: stretch;
}
.separator {
	border-left: 3px solid #16171d;
} 
.colonnegrosse {
	flex: 0 0 74.7%;

}
.colonnepetite {
	flex: 0 0 25%;
}
@media only screen and (max-width: 600px) {
	html {
		background-color: #282a35;
	}
	.listplaylist {
		margin-top: 5%;
		font-size: 10px;
		margin-left: 5%;

	}
	.listvideo {
		font-size: 11px;
		margin-left: 5%;
		line-height: 2.5;
	}
	.textetoinline {
		display: flex;
		gap: 10px;
		font-size: 12px;
		margin-right: 1px;
		text-decoration: none;
		color: #fcfaed;
		background-color: #16171d;
	}

	.colonnegrosse {
		margin-bottom: 0;
	}
	.colonnepetite {
		font-size: 10px;
		margin-top: 5%;
		margin-bottom: 3%;
	}
	.colonne {
		font-size: 10px;
		height: 200px;
	}
	.row {
		display: flex;
		flex-direction: column;
	}
	#titre_column1 {
		text-align: left;
		font-size: 25px !important;

	}
	#titre_column2 {
		margin-top: 30px;
		text-align: left !important;
		font-size: 25px !important;

	}


}
#c1 {
	color: #fcfaed;
	margin-left: 0;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

#c2 {
	color: #fcfaed;
	margin-right: 0;
	padding-right: 1.75%;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	list-style: none;
}
#titre_column1 {
	text-align: left;
	margin-left: 6.5%;
	font-size: 40px;
	margin-bottom: 2%;
}
#titre_column2 {
	margin-top: 30px;
	margin-left: 20px;
	text-align: center;
	font-size: 20px;
}


:root {
	font-family: 'Inter', sans-serif;
	font-feature-settings: 'liga' 1, 'calt' 1;
}
@supports (font-variation-settings: normal) {
	:root { font-family: 'Inter var', sans-serif; }
}

